<!DOCTYPE html>
<html ng-app="todo">
  <head>
    <meta charset="UTF-8">
    <title>To-Do</title>
  </head>
  <body ng-controller="TodoList">
    <h1>To-Do</h1>
    <ul>
      <li ng-repeat="item in items.state">
        <input type="checkbox" ng-model="item.checked" ng-change="check($index)"/>
        <span>{{item.item}}</span>
      </li>
    </ul>
    <form ng-submit="add()">
      <input type="text" placeholder="To-Do" ng-model="newItem"/>
      <input type="submit" value="Add"/>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://repo.swim.it/swim/recon-0.3.9.js"></script>
    <script src="https://repo.swim.it/swim/swim-client-0.4.5.js"></script>
    <script>
      var app = angular.module('todo', []);
      app.controller('TodoList', function ($scope) {
        $scope.items = swim.downlink()
          .node('ws://localhost:5619/todo/grocery')
          .lane('todo/list')
          .onEvent(function (message) {
            $scope.$apply(); // Update the view.
          })
          .syncList();
        $scope.add = function () {
          $scope.items.push({item: $scope.newItem});
          $scope.newItem = '';
        };
        $scope.check = function (index) {
          $scope.items.set(index);
        };
      });
    </script>
  </body>
</html>
